@import url("reset.css");

@import url("var.css");

@font-face {
    font-family: "DancingScript";
    src        : url("../fonts/DancingScript-VariableFontwght.woff2");
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size  : 16px;
    margin     : 0;
    padding    : 0;
}

.wrapper {
    min-width: 320px;
    max-width: 1920px;
    overflow : hidden;
    margin   : 0 auto;
}

.teddy-bear-string {
    display: block;
}

.congratulation {
    position        : relative;
    /* padding-top  : 5px; */
    /* margin-top   : -250px; */
}

.teddy-bear {
    width   : 460px;
    height  : auto;
    display : block;
    position: absolute;
    right   : 10%;
    top     : 18%;
}

.congratulation .container {
    position: relative;
}

.container {
    margin   : 0 auto;
    padding: 10px;
}

.title {
    color         : var(--color-blue);
    text-transform: lowercase;
    font-family   : "DancingScript";
    font-size     : 15rem;
    transform     : rotateZ(-10deg);
    position      : relative;
    z-index       : 15;
    display       : inline-block;
}

.sub-title {
    color         : var(--color-dark-blue);
    text-transform: uppercase;
    font-size     : 4rem;
    font-weight   : bold;
    text-align    : center;
    position      : relative;
    z-index       : 15;
}

.main-text {
    font-size     : 15rem;
    font-weight   : 900;
    text-transform: uppercase;
    color         : var(--color-lite--blue);
    opacity       : .8;
    line-height   : 1;
    filter        : contrast(3) brightness(0.5);
    z-index       : 9;
}

h2.main-text {
    font-size: 10rem;
    opacity: 0.5;
}

.bg-wood {
    min-height: 100vh;
    background: url(../images/bg_blue-wood.jpg);
}


.cloud {
    width   : 300px;
    height  : 200px;
    position: absolute;
    opacity : .9;
}


#cloud {
    left     : 20%;
    top      : 16%;
    z-index  : 5;
    transform: scale(1.5);
}

@media only screen and (max-width: 1600px) {
    .teddy-bear {
        right: 0;
        top  : 15%;
    }
}

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }

    .teddy-bear {
        width: 320px;
        top  : 10%;
    }
}


@media only screen and (max-width: 1024px) {

    html {
        font-size: 12px;
    }

    #cloud {
        top: 8%;
    }

    .teddy-bear {
        width: 240px;
    }
}

@media only screen and (max-width: 800px) {
    .teddy-bear {
        width: 160px;
    }

    #cloud {
        transform: scale(.8);
        left     : 0%;
        top      : 4%;
    }

    .title {
        font-size: 10rem;
    }

    .sub-title {
        font-size: 2rem;
    }

    .main-text {
        font-size: 10rem;
    }

    h2.main-text {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 460px) {

    html {
        font-size: 10px;
    }

    .teddy-bear {
        width: 120px;
    }

    #cloud {
        transform: scale(.6);
        left     : -2%;
        top      : 0;
    }
}

@media only screen and (max-width: 420px) {

    html {
        font-size: 9px;
    }

    .teddy-bear {
        width: 90px;
        top  : 6%;
    }

    #cloud {
        top: -16px;
    }
}


@media only screen and (max-width: 360px) {

    html {
        font-size: 7px;
    }

    .teddy-bear {
        top: 10%;
    }

    #cloud {
        top      : -29px;
        left     : 0;
        transform: scale(.5);
    }
}


@media only screen and (max-width: 320px) {
    #cloud {
        left: -7%;
    }
}


/* ============================== */

#bulbe {
    position: fixed;
    top     : 0;
}

/* star ========================== */

.star {
    margin       : 50px 0;
    height       : 0;
    width        : 0;
    position     : relative;
    border-right : 50px solid transparent;
    border-bottom: 35px solid var(--color-lite--blue);
    border-left  : 50px solid transparent;
    transform    : rotate(35deg) scale(1.5);
    opacity      : .8;
    display      : inline-block;
}

.star:before,
.star:after {
    content : "";
    height  : 0;
    width   : 0;
    position: absolute;
}

.star:before {
    top          : -26px;
    left         : -32px;
    border-bottom: 40px solid var(--color-lite--blue);
    border-left  : 15px solid transparent;
    border-right : 15px solid transparent;
    transform    : rotate(-35deg);
}

.star:after {
    top          : 2px;
    left         : -53px;
    border-right : 50px solid transparent;
    border-bottom: 35px solid var(--color-lite--blue);
    border-left  : 50px solid transparent;
    transform    : rotate(-70deg);
}

/* train ==================== */

.train .container{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

.wagon.locomotive {
    width                        : 300px;
    /* height                    : 120px; */
    position                     : relative;
    background-size              : 14.4px 3px;
    background-repeat            : repeat-x;
    background-position          : 0 20px, 0 100px;
    background-color             : var(--color-wagon-blue-2);
    background-image             : linear-gradient(90deg, transparent 5px, white 5px), linear-gradient(90deg, transparent 5px, white 5px);
    /* border-bottom-left-radius : 0 0;
    border-bottom-right-radius   : 0 0; */
    border-radius                : 0;
}

.wagon-wrapper{
    padding: 10px;
    padding-top: 200px;
    border: 1px solid;
}

.wagon {
    display: inline-block;
    width                     : 240px;
    height                    : 110px;
    position                  : relative;
    border-top                : solid 30px var(--color-wagon-blue-1);
    border-bottom-left-radius : 20px 200px;
    border-bottom-right-radius: 20px 200px;
    margin-bottom             : 57px;
}

.wagon::before,
.wagon::after {
    content         : '';
    width           : 36px;
    height          : 36px;
    display         : block;
    border-radius   : 50%;
    background-color: var(--color-wagon-grey-2);
    border          : 14px solid var(--color-wagon-grey-1);
    position        : absolute;
    background-image: radial-gradient(circle, white 6px, transparent 6px);
    bottom: -43px;
}

.wagon::before {
    left  : 20px;
}


.wagon::after {
    right : 20px;
}

.wagon.wagon-03 {
    background-image: repeating-linear-gradient(var(--color-wagon-blue-2) 0 15%, var(--color-wagon-blue-3) 15% 30%, var(--color-wagon-blue-4) 30% 45%);
}

.wagon.wagon-02 {
    background-color: var(--color-wagon-blue-2);
}

.wagon.wagon-01 {
    background-size    : 50px 50px;
    background-repeat  : repeat;
    background-position: 25px 25px, 0px 0px;
    background-color   : var(--color-wagon-blue-2);
    background-image   : radial-gradient(circle, white 8px, transparent 8px), radial-gradient(circle, white 8px, transparent 8px);
}

.wagon::after {
    animation-name           : move1;
    animation-duration       : 2s;
    animation-iteration-count: infinite;
}

.wagon::before {
    animation-name           : move2;
    animation-duration       : 2s;
    animation-iteration-count: infinite;
}

.wagon {
    animation-name           : rotate;
    animation-duration       : 3s;
    animation-iteration-count: infinite;
}

@keyframes move1 {
    50% {
        margin-bottom: 10px;
        margin-right : 5px;
    }

    100% {
        margin-bottom: 0;
        margin-right : 0;
    }
}

@keyframes move2 {
    25% {
        margin-bottom: 10px;
        margin-right : 5px;
    }

    75% {
        margin-bottom: 0;
        margin-right : 0;
    }
}

@keyframes rotate {
    25% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }
}